.dog-link {
  width: 30vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'image content';
  margin: 10px;
}

.dog-link .image {
  width: 100%;
  grid-area: 'image';
}

.dog-link .image img {
  width: 100px;
  border-radius: 10%;
}
