@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Kanit:wght@400;700&family=Permanent+Marker&display=swap');
* {
  --color-1: #6e44ff;
  --color-2: #b892ff;
  --color-3: #dcaaf1;
  --color-4: #ffc2e2;
  --color-5: #ff90b3;
  --color-light: #f8eefc;
  --color-dark: #160066;
}
.App {
  background-color: var(--color-light);
  color: var(--color-dark);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto' sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-1);
}

a:hover {
  color: var(--color-5);
}

.error {
  color: var(--color-5);
}
